.main-container {
  @include xy-grid-container;
    @include breakpoint(small only) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.main-grid {
  @include xy-grid();

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(2);
      margin-top: 1rem;
    }

  }
}


// main sections
.main-grid > section:not(.pre-footer):not(.layout.l1):not(.learn-more) {
    // padding: 1rem 0 1rem 0;
    @include breakpoint(small only) {
        height: 70vh;
        min-height: min-content;
    }
    @include breakpoint(medium) {
        max-width: 1026px;
        min-width: 609px;
        margin: 0 auto;
        padding: 0 0 2rem 0;
        &.read-more-container {
            padding: 0 10rem 0 0;
        }
    }

    &.learn-more,
    &.pre-footer {
        @include breakpoint(medium) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

}
.content-holder {
    align-self: flex-end;
}
.pre-footer {
    @include breakpoint(medium) {
        max-width: 960px;
        min-width: 609px;
        margin: 0 auto;
    }
}

.video img,
.video iframe {
    width: 100vw;
}

.columns-2 {
    column-count: 1;
    @include breakpoint(medium) {
        column-count: 2;
        column-gap: 3.5rem;
    }
}

.left-img-container {
    @include breakpoint(small) {
        // flex-direction: column-reverse;
    }
}

.right-img-container .right-image,
.left-img-container .left-image {
    @include breakpoint(small) {
        // height: stretch;
    }
    @include breakpoint(medium) {
        // height: stretch;
        // min-height: max-content;
        // background-position: bottom;
        // background-size: cover;
        // width: auto;
    }
}

.right-img-container {
    .flex-container {
        @include breakpoint(small) {
            padding-bottom: 1rem;
        }
    }
    .content-holder {
        width: auto;
        @include breakpoint(medium) {
            margin: 0 2rem 0 0;
        }
    }
}

.left-img-container {
    .content-holder {
        width: auto;

        @include breakpoint(medium) {
            margin: 0 0 0 3rem;
        }
    }

}

.right-img-container {
    .content-holder {
        @include breakpoint(medium) {
            margin-right: 3rem;
        }
    }

}

.main-grid main.main-content-full-width > section {
    @include breakpoint(medium) {
        padding: 3rem 0;
    }
}


// contact page
.get-in-touch {
    border-bottom: 3px solid $medium-gray;
    p.primary {
        @include baskerville-italic(20px);
    }

}
.page-template-contact .talk-to-us-footer {
        display: none;
    }


.learn-more-links {
    > .cell {
        @include breakpoint(small only) {
            padding: 0 0 1rem 0;
        }
        @include breakpoint(medium) {
            padding-left: 4rem;
        }
    }
}

.read-more-container {
    display: none;
    margin-bottom: 2rem;
    @include breakpoint(medium) {
        margin: 2rem 0 0 0;
    }
}


// layouts
.layout {

    .flex-container {
        @include breakpoint(medium) {
            // padding: 0 15px 0 15px;
        }
    }

    &:not(.video) {
        @include breakpoint(medium) {
            max-width: 960px;
            margin: 76px auto;
        }
    }

    &.l1,
    &.learn-more {
        @include breakpoint(medium) {
            height: auto;
            min-height: min-content;
        }
    }

    &.learn-more {
        @include breakpoint(medium) {
            margin: 3rem auto 5rem auto;
        }
    }
} // END .layout


.desktop-only {
    @include breakpoint(small only) {
        display: none;
    }
}
.mobile-only {
    @include breakpoint(medium) {
        display: none;
    }
    // @include breakpoint(large only) {
    //     display: none;
    // }
}

// login dropdown
li.log-in > .dropdown.menu {
    @include breakpoint(medium) {
        margin-right: -15px;
    }
}

.page-id-373,
.page-id-314,
.page-template-welcome {
    .dropdown.menu > li.opens-right > .is-dropdown-submenu {

        @include breakpoint(medium) {
            width: 138px;
            background: white;
            margin: 4px 0 0 -17px;
            padding: 0 0rem 10px 1rem;
            // border-left: 1px solid #eaeaea;
            // border-right: 1px solid #eaeaea;
            // border-bottom: 1px solid #eaeaea;
        }

        > li.menu-item {
            width: 100%;;
        }
    }
}

.slim-container {
    h4 {
        @include breakpoint(small only) {
            padding-bottom: 1rem;
        }
    }
    @include breakpoint(medium) {
        max-width: 690px;
        margin: 0 auto;
        padding-top: 3rem;

    }
    .entry-title {
        margin: 2rem 0 2rem 0;
        @include breakpoint(medium) {
            margin-bottom: 5rem;
        }
    }
}

/* talk to us */
main.main-content-full-width section {
    padding: 0 0 0 0;
    @include breakpoint(medium) {
        padding: 3rem 0 0 0;
    }
}

// layout sections

.left-img-container.relative,
.right-img-container.relative {
    width: 100%;
}

.left-img-container {
    @include breakpoint(small) {
        flex-direction: column-reverse;
    }
}
.left-image {
    + .flex-container.z-up {
        @include breakpoint(medium) {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
        }
    }
    &.mobile-only {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.right-img-container > .flex-container.z-up {
    @include breakpoint(medium) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

// // // // // // // //
// IE hack
// // // // // // // //
@media screen and (-ms-high-contrast: active),
                  (-ms-high-contrast: none) {
    .block-container {
        display: block;
        margin: 0 auto;
        overflow: hidden;
    }
    .left-img-container .content-holder {
         max-width: 45vw;
    }
    .right-img-container .content-holder {
         max-width: 45vw;
    }
}
