.main-container {
  @include xy-grid-container;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin: 0;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(10);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(2);
      margin-top: 1rem;
    }

  }
}


// main sections
.main-grid > section {
    padding: 1rem 0 1rem 0;
    @include breakpoint(medium) {
        width: 1026px;
        margin: 0 auto;
        padding: 8rem 0 2rem 0;

    }

    &.learn-more,
    &.pre-footer {
        @include breakpoint(medium) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    .content-holder {
        max-height: fit-content;
        align-self: flex-end;
    }
}

.video img,
.video iframe {
    width: 100vw;
}

.columns-2 {
    column-count: 1;
    @include breakpoint(medium) {
        column-count: 2;
        column-gap: 3.5rem;
    }
}

// *:not(.right-image):not(.left-image)
.left-img-container {
    @include breakpoint(small) {
        flex-direction: column-reverse;
    }
}
.right-img-container > .cell,
.left-img-container > .cell {
    height: fit-content;
    min-height: -webkit-fill-available;
    @include breakpoint(small) {
        height: auto;
        min-height: auto;
    }
}

.right-img-container .right-image,
.left-img-container .left-image {
    @include breakpoint(small) {
        height: -webkit-fill-available;
    }
    @include breakpoint(medium) {
        height: -webkit-fill-available;
        min-height: max-content;
    }
}

.right-img-container.relative,
.left-img-container.relative {
    @include breakpoint(medium) {
        height: -webkit-fill-available;
    }
}

.right-img-container {
    .flex-container {
        @include breakpoint(small) {
            padding-bottom: 1rem;
        }
    }
    .content-holder {
        @include breakpoint(medium) {
            margin: 0 2rem 0 0;
        }
    }
}

.left-img-container {
    .content-holder {
        @include breakpoint(medium) {
            margin: 0 0 0 2rem;
        }
    }
}

.layout .flex-container {
    @include breakpoint(medium) {
        padding: 4rem 0 0 0;
    }
}

main.main-content-full-width section {
    padding: 8rem 0;
}


// contact page
.get-in-touch {
    border-bottom: 3px solid $medium-gray;
    p.primary {
        @include baskerville-italic(20px);
    }

}
.page-template-contact .talk-to-us-footer {
        display: none;
    }

.contact-form,
.login-form,
.password-reset input[type="text"] {
    textarea,
    input:not([type="submit"]) {
        border-radius: 4px;
        border: none;
        background: #eeeeee;
        color: $dark-gray;
        @include benton-reg(12px);
    }
    input {
        min-height: 45px;
    }
    .nf-field-2-container {
        margin-bottom: 12px;
    }
    .nf-form-fields-required {
        display: none;
    }
    h3 {
        @include baskerville-italic(20px);
        color: $primary-color;
    }
    .contact-button input {
        @include button-hollow;
        text-transform: uppercase;
        border-radius: 50px;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 0.85em 6.5em;
        width: 100%;
    }
    .custom-html {
        color: $medium-gray;
        @include benton-reg(12px);
        margin: 0;
    }
}

// .login-form
.login {
    h2.entry-title {
        text-align: center;
    }
}

.greeting {
@include baskerville(20px);
text-align: center;
    .primary {
        font-style: italic;
    }
}

.login-form {

    .login-submit {
        text-align: center;
        padding: 0.85em 5em;
    }
}
