.footer-container {
  margin: 0 auto;

    .footer-grid > {

        .cell {
            &:first-child {
                @include breakpoint(medium only) {
                    figure {
                        margin: 0 auto;
                    }
                }
                @include breakpoint(large) {
                    max-width: 25%;
                }
            }

            &:nth-child(2) {
                @include breakpoint(medium only) {
                    > .menu-footer-container {
                        max-width: 60%;
                        margin: 0 auto;
                    }
                }
                @include breakpoint(large) {
                    max-width: 50%;
                }
            }

            &:last-child {
                @include breakpoint(medium only) {
                    > div {
                        margin: 0 auto;
                        max-width: 30%;
                    }
                }
                @include breakpoint(large) {
                    max-width: 25%;
                }
            }
        }
    }

    .widget_nav_menu {
        .button {
            // height: min-content;
        }
    }
    .buttons {
        justify-content: center;

    }

}

.footer-grid {
  @include xy-grid;
    padding: 2rem 1rem 2rem 1rem;
    flex-direction: column;
    @include breakpoint(medium) {
        max-width: 62rem;
        margin: 0 auto;
        padding: rem-calc(75) 0;
        flex-direction: row;
    }
    @include breakpoint(large) {
      flex-wrap: nowrap;
    }

  section {
    // @include xy-cell(full, false, 1rem, left, medium, false);

  }
  figcaption.wp-caption-text {
      visibility: hidden;
      max-width: 75%;
  }

  .widget_nav_menu {
      padding-bottom: 1rem;
  }
    .menu-footer-container {

        .menu-item a {
            @include benton-reg(.75rem);
            color: $dark-gray;
            background: transparent;
            line-height: 1.5;
        }
        .menu-item-has-children > a {
            @include benton-med(.75rem);
            text-transform: uppercase;
        }

    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.pre-footer {
    width: 100%;
    h2 {
        margin-top: 0;
    }
}

.footer-hero {
    font-size: 170%;
    @include breakpoint(small) {
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      padding: rem-calc(65%) 0;
      margin: 0 0 rem-calc(32);
      height: auto;
      position: relative;
      text-align: left;
    }

    @include breakpoint(medium) {
      background-size: cover;
      background-position: center;
      height: auto;
      margin: 0 0 rem-calc(72);
      min-height: max-content;
    }
    cite {
        font-size: 100%;
        font-style: normal;
        color: $white;
        padding-top: 1rem;
    }
    blockquote::before {
        display: block;
        position: absolute;
        height: 0;
        content: "“";
        margin-top: -50px;
        @include baskerville(130%);
        color: $white;
    }
}

.secondary-footer {
    @include benton-reg(13px);

    .secondary-container {
        // @include xy-grid-container(62rem, 0);
        border-top: 1px solid $medium-gray;
        padding: 2rem 0 1rem 0;
        @include breakpoint(medium only) {
            padding: 2rem 20px 1rem 20px;
        }
        .cell {
            text-align: center;
            @include breakpoint(medium) {
                &:first-child {
                    text-align: left;
                }
                &.copywright {
                    text-align: right;
                }
            }
        }
        a {
            color: $dark-gray;
        }
    }

}

.talk-to-us-footer {
    background: $light-light-gray;
    padding: 6rem 0 84px 0;

}


.menu-footer-container {
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    > ul {
        @include breakpoint(medium) {
            flex-direction: row;
            justify-content: flex-end;

            > li {
                width: calc(33.33333% - 7px);

                &.menu a {
                    padding: 0.3rem 0;
                }
            }
        }
    }
}
